.My-divtest {
background-color: lightgray;
color: red;
font-weight: bold;
}

.flexbox-container{
  display: flex;
  height: 300px;
  background-color: lightblue;
  margin-bottom: 10px;
}

.flexbox-container div {
  flex: 1 1 200px;
  background-color: lightpink;
  font-size: 40px;
  width: 80px;
  margin: 5px;
  text-align: center;
  line-height: 200px;
}

.circle {
  display: flex;
  background-color: greenyellow;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.circle div {
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color: white;
}
